<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<h1>Hello <span id="foo"></span></h1>
			<p>Welcome to templating using EJS</p>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
<script data-main="js/common" src="modules/requirejs/require.js"></script>
<script type="text/javascript">
require(['common'], function(){
	// Load up this pages script, once the 'common' script has loaded
	require(['page/home']);
});
</script>

</html>