body {
	/*background-color: teal;*/
}

/* REQUIRED in CUSTOM THEMES!
 This is the only definition that MUST BE added to any custom themes.
 This is how rows are hidden by filtering (included in provided themes) */
.tablesorter .filtered {
  display: none;
}

table, td, th {
	border: 1px solid #000;
}

.pagedisplay {
	display: inline-block;
	float: left;
}

.pagesize {
	display: inline-block;
	float: right;
}

.pagenav {
	display: block;
	text-align: center;
}

ul.pagination li {
	display: inline-block;
	margin-right: 5px;
}